<p>
  flexbox-demo works!
</p>


<div class="d-flex p-3 bg-secondary text-white">
    <div class="p-2 bg-info">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-primary">Flex item 3</div>
  </div>

  <br>

  <div class="d-inline-flex p-3 bg-secondary text-white">
      <div class="p-2 bg-info">Flex item 1</div>
      <div class="p-2 bg-warning">Flex item 2</div>
      <div class="p-2 bg-primary">Flex item 3</div>
    </div>

<h5>Horizontal direction</h5>    

    <div class="d-flex flex-row bg-secondary">
        <div class="p-2 bg-info">Flex item 1</div>
        <div class="p-2 bg-warning">Flex item 2</div>
        <div class="p-2 bg-primary">Flex item 3</div>
      </div>
      
      <div class="d-flex flex-row-reverse bg-secondary">
        <div class="p-2 bg-info">Flex item 1</div>
        <div class="p-2 bg-warning">Flex item 2</div>
        <div class="p-2 bg-primary">Flex item 3</div>
      </div>    

<h5>Vertical direction</h5>
<div class="d-flex flex-column">
    <div class="p-2 bg-info">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-primary">Flex item 3</div>
  </div>
  
  <div class="d-flex flex-column-reverse">
    <div class="p-2 bg-info">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-primary">Flex item 3</div>
  </div>

<h5>Justify Content</h5>
<div class="d-flex justify-content-start">
    <div class="p-2 bg-info">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-primary">Flex item 3</div>
</div>
<div class="d-flex justify-content-end">
    <div class="p-2 bg-info">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-primary">Flex item 3</div>
</div>
<div class="d-flex justify-content-center">
    <div class="p-2 bg-info">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-primary">Flex item 3</div>
</div>
<div class="d-flex justify-content-between">
    <div class="p-2 bg-info">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-primary">Flex item 3</div>
</div>
<div class="d-flex justify-content-around">
    <div class="p-2 bg-info">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-primary">Flex item 3</div>
</div>

<h5>Fill / Equal Widths</h5>
<div class="d-flex">
    <div class="p-2 bg-info flex-fill">Flex item 1</div>
    <div class="p-2 bg-warning flex-fill">Flex item 2</div>
    <div class="p-2 bg-primary flex-fill">Flex item 3</div>
  </div>

  <h5>Grow</h5>
  <div class="d-flex">
      <div class="p-2 bg-info">Flex item 1</div>
      <div class="p-2 bg-warning">Flex item 2</div>
      <div class="p-2 bg-primary flex-grow-1">Flex item 3</div>
    </div>

  <h5>Auto Margins</h5>
  <div class="d-flex bg-secondary">
      <div class="p-2 mr-auto bg-info">Flex item 1</div>
      <div class="p-2 bg-warning">Flex item 2</div>
      <div class="p-2 bg-primary">Flex item 3</div>
    </div>
    
    <div class="d-flex bg-secondary">
      <div class="p-2 bg-info">Flex item 1</div>
      <div class="p-2 bg-warning">Flex item 2</div>
      <div class="p-2 ml-auto bg-primary">Flex item 3</div>
    </div>

<h5>Align Self</h5>
<div class="d-flex bg-light" style="height:150px">
    <div class="p-2 border">Flex item 1</div>
    <div class="p-2 border align-self-start">Flex item 2</div>
    <div class="p-2 border">Flex item 3</div>
  </div>