<div class="sub-title">
    <h1>Projects</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal" (click)="openModal()">New Project</button>
</div>

<div>
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>#</th>
            <th>Group</th>
            <th>Team</th>
            <th>Project Name</th>   
            <th>Status</th>
            <th>Owner</th>
            <th>Date Created</th>
            <th>Date Modified</th>
            <th>Datesets</th>
            <th>Models</th>
            <th>Last Dateset</th>
            <th>Laset Model</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <ng-container *ngFor = "let project of projects">
              <tr class="odd">
                  <td>
                    <!-- <input type="checkbox" [(ngModel)]="project.detail"><i class="medium material-icons">add_circle_outline</i> -->
                  </td>
                  <td>{{ project.id }}</td>
                  <td>{{ project.group }}</td>
                  <td>{{ project.team }}</td>
                  <td>
                    <!-- <a [routerLink]="['/project', project.id]">{{ project.name }}</a> -->
                  </td>
                  <td>{{ project.status }}</td>
                  <td>{{ project.owner }}</td>
                  <td>{{ project.dateCreated | date: 'MM/dd/yyyy'}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <!-- <a [routerLink]="" title="Edit"><i class="medium material-icons">mode_edit</i></a> -->
                  </td>
                  <td>
                      <a [routerLink]="" title="Delete"><i class="material-icons md-24">delete</i></a>
                    </td>
              </tr>   
              <tr *ngIf="project.detail">
                <td colspan="15">Description:</td>
              </tr>           
          </ng-container>
        </tbody>
        
      </table>
</div>

<app-project-edit></app-project-edit>

