<div class="sub-title">
    <h1>Projects</h1>
    <button>New Project</button>
</div>


<div>
    <table class="table table-inverse table-reflow table-striped table-hover table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Group</th>
            <th>Team</th>
            <th>Project Name</th>   
            <th>Status</th>
            <th>Owner</th>
            <th>Date Created</th>
            <th>Date Modified</th>
            <th>Datesets</th>
            <th>Models</th>
            <th>Last Dateset</th>
            <th>Laset Model</th>
            <th>Actions</th>
          </tr>
        </thead>
        <!-- <tfoot>
          <tr>
            <th colspan="5">Number <strong>{{ projects.length }}</strong></th>
          </tr>
        </tfoot> -->
      
        <tbody>
            <tr *ngFor = "let project of projects; index as projectId">
                <td>{{ project.id }}</td>
                <td>{{ project.group }}</td>
                <td>{{ project.team }}</td>
                <td>
                  <a [routerLink]="['/project', project.id]">{{ project.name }}</a>
                </td>
                <td>{{ project.status }}</td>
                <td>{{ project.owner }}</td>
                <td>{{ project.dateCreated }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <a>Edit,</a> 
                  <a>Delete</a>
                </td>
                <div>sdfsdf</div>
            </tr>
        </tbody>
        
      </table>
</div>

