<div class="sub-title">
    <h1>Projects</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal" (click)="openModal()">New Project</button>
</div>

<div>
    <table class="table table-inverse table-reflow table-striped table-sm">
        <thead>
          <tr>
            <th></th>
            <th>#</th>
            <th>Group</th>
            <th>Team</th>
            <th>Project Name</th>   
            <th>Status</th>
            <th>Owner</th>
            <th>Date Created</th>
            <th>Date Modified</th>
            <th>Datesets</th>
            <th>Models</th>
            <th>Last Dateset</th>
            <th>Laset Model</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <ng-container *ngFor = "let project of projects">
              <tr>
                  <td><input type="checkbox" [(ngModel)]="project.detail"></td>
                  <td>{{ project.id }}</td>
                  <td>{{ project.group }}</td>
                  <td>{{ project.team }}</td>
                  <td>
                    <a [routerLink]="['/project', project.id]">{{ project.name }}</a>
                  </td>
                  <td>{{ project.status }}</td>
                  <td>{{ project.owner }}</td>
                  <td>{{ project.dateCreated | date: 'MM/dd/yyyy'}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a [routerLink]="" title="Edit"><i class="medium material-icons">mode_edit</i></a>
                  </td>
                  <td>
                      <a [routerLink]="" title="Delete"><i class="medium material-icons">delete</i></a>
                    </td>
              </tr>   
              <tr *ngIf="project.detail">
                <td colspan="15">Description:</td>
              </tr>           
          </ng-container>
        </tbody>
        
      </table>
</div>


<div class="modal" id="projectModal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Project</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>                
            </div>
            <div class="modal-body">
              <form>
                  <div class="form-group">
                      <label for="project-name" class="small">Project Name:</label>
                      <input type="text" class="form-control" id="project-name">
                  </div>
                  <div class="form-group">
                      <label for="group" class="small">Group:</label>
                      <input type="text" class="form-control" id="group">
                  </div>
                  <div class="form-group">
                      <label for="team" class="small">Team:</label>
                      <input type="text" class="form-control" id="Team">
                  </div>

                  <div class="form-group">
                    <label for="description" class="small">Description:</label>
                    <textarea class="form-control" id="description"></textarea>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>
