
#logo {
    font-weight: bold;
    font-family: franklin gothic heavy;
    font-style: italic;
    font-size: 2.4em;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/