
#logo {
    font-weight: normal;
    font-family: franklin gothic heavy;
    font-style: italic;
    font-size: 2em;
}

i {
    color: white;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/