<div class="container two-ends">
    <a [routerLink]="['/']">
      <h1 id="logo">Peachtree</h1>
    </a>
    
    <!-- <a [routerLink]="['/cart']" title="order" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a> -->

    <div>
      <a [routerLink]="['/help']" class="" title="Settings"><i class="medium material-icons">settings</i></a>
      <a [routerLink]="['/help']" class="" title="Help"><i class="medium material-icons">help</i></a>
    </div>
    
</div>

<!-- <a [routerLink]="['/testing']" class="button fancy-button"><i class="material-icons">menu</i>Test</a> -->
