<p>
  cards works!
</p>

<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card">
        <img class="card-img-top center-block product-item" src="http://placehold.it/270x171" alt="Bakery">
        <!-- <div class="card-img-top center-block product-item">Image</div> -->
        <div class="card-block" style="padding: 16px;">
          <h4 class="card-title">Bakery</h4>
            <p class="card-text">The best cupcakes, cookies, cakes, pies, cheesecakes, fresh break, biscotti, muffines, badels, fresh coffee and more.</p>
            <a href="#" class="btn btn-primary btn-sm">Browse</a>
        </div>
    </div>
</div>