<p>expansion-panel works!</p>

<mat-accordion multi="true" hideToggle>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular Fundamentals</mat-panel-title>
            <mat-panel-description>Totel Duration: 3 hours</mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content.  Add course details</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular Fundamentals</mat-panel-title>
            <mat-panel-description>Totel Duration: 3 hours</mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content.  Add course details</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<br>

<mat-card>
    <mat-card-title>Card Title</mat-card-title>
    <mat-card-content>
        This is the description of the card.
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button>Login</button>
    </mat-card-actions>
</mat-card>