<div class="container">
  <div class="row">
    <h1>{{title}}</h1>
  </div>
  
  <div class="row">
    <div class="col-md-12 col1">
      <projects>Loading Projects ...</projects>
    </div>    
    <!--<div class="col-md-6 col2">
      <h3>Second Column</h3>
    </div>    -->
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#"><img class="media-object" src="http://loremflickr.com/150/150?random=1"></a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{today | date | uppercase}}</h4>
      <div>Description Here</div>
    </div>
  </div>

  <user-form></user-form>

</div>
  
  
