<app-top-bar></app-top-bar>

<div>
  <router-outlet></router-outlet>
    
  <!-- <div class="row">
    <h4>{{title}}</h4><project></project>
  </div> -->
  
  <!-- <div class="row">
    <div class="col-md-12">
      <project-list>Loading Projects ...</project-list>
    </div>    
  </div> -->

  <!-- <div class="media">
    <div class="media-left">
      <a href="#"><img class="media-object" src="http://loremflickr.com/150/150?random=1"></a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{today | date | uppercase}}</h4>
      <div>Description Here</div>
    </div>
  </div>

  <user-form></user-form> -->
</div>

  
  
