<!-- <div class="container">
    <nav class="navbar navbar-light bg-faded" role="navigation">
        <a class="navbar-brand active" href="#">
            Start <span class="sr-only">(current)</span>
          </a>
              <a class="nav-item nav-link active" [routerLink]="['/projects']">Project</a>
              <a class="nav-item nav-link" [routerLink]="['/cart']">Cart</a>
              <a class="nav-item nav-link" href="#">Settings</a>
              <a class="nav-item nav-link" [routerLink]="['/testing']">Test</a>
    </nav>
</div> -->

<div class="container">
    <nav class="nav nav-tabs" role="navigation">
      <a class="nav-link" [class.active]="item.active" *ngFor = "let item of navItems" [href]="item.href">{{item.label}}</a>
    </nav>
    <!-- <nav class="navbar navbar-light bg-faded" role="navigation">
        <a *ngFor = "let item of navItems" [href]="item.href">{{item.label}}</a>
      </nav> -->
</div>


<!-- 
<ul class="nav nav-tabs"> 
  <li class="nav-item"><a class="nav-link active" href="#">Start</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/projects']">Project</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/cart']">Cart</a></li>  
  <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/testing']">Test</a></li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" [routerLink]="['/testing']" 
    role="button" aria-haspopup="true" aria-expanded="false">Actions</a>
    <div class="dropdown-menu">
      <a class="dropdown-item">New Project</a>
      <a class="dropdown-item">New Model</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item">New Dataset</a>
    </div>
  </li>
</ul> -->