<!-- 
<div class="container">
        <ul class="navbar navbar-nav" role="navigation">
            <li class="nav-item active"><a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./cart']">Cart</a></li>
            <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./shipping']">Shipping</a></li>
            <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./testing']">Testing</a></li>
            <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./projects']">Projects</a></li>
            <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./navdemo']">Nav</a></li>
            <li class="nav-item"><a class="nav-link disabled" [routerLinkActive]="['active']" [routerLink]="['./navdemo']">Save</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Start</a>
                  <a class="dropdown-item" href="#">Cart</a>
                  <a class="dropdown-item" href="#">Shipping</a>
                  <a class="dropdown-item" href="#">Testing</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Projects</a>
              </div>
            </li>
        </ul>
</div> -->



<div class="menu-bar">
    <div class="container menu-bar">
        <nav class="navbar navbar-light" style="background-color:#ccc;">
            <a class="nav-link navbar-brand" href="#">Home<span class="sr-only">(current)</span></a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./cart']">Cart</a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./shipping']">Shipping</a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./testing']">Testing</a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./projects']">Projects</a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./navdemo']">Nav</a>
            <a class="nav-link disabled" [routerLinkActive]="['active']" [routerLink]="['./navdemo']">Save</a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./tabledemo']">Table</a>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Start</a>
                    <a class="dropdown-item" href="#">Cart</a>
                    <a class="dropdown-item" href="#">Shipping</a>
                    <a class="dropdown-item" href="#">Testing</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./carousel']">Carousel</a>
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./cards']">Cards</a>
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./listdemo']">List</a>
                </div>
            </div>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./selectstyle']">Select Styling</a>
        </nav>
    </div>
</div>
