
<div id="welcome-products" class="carousel slide" data-ride="carousel"> 

  <div class="carousel-inner" role="listbox"> 
    <div class="carousel-itemd" *ngFor="let item of items">{{item}}</div>
    <!-- <div class="carousel-item" *ngFor="let item of items">{{item}}</div>
    <div class="carousel-item" *ngFor="let item of items">{{item}}</div>
    <div class="carousel-item" *ngFor="let item of items">{{item}}</div>
    <div class="carousel-item" *ngFor="let item of items">{{item}}</div>
    <div class="carousel-item" *ngFor="let item of items">{{item}}</div>
    <div class="carousel-item" *ngFor="let item of items">{{item}}</div>
    <div class="carousel-item" *ngFor="let item of items">{{item}}</div>
    <div class="carousel-item" *ngFor="let item of items">{{item}}</div> -->
  </div>

</div>